.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  margin-left: 14px;
  margin-right: 14px;
}

.social__link {
  path {
    fill: @grey-icon;
  }
}

@media (min-width: @tablet-width) {
  .social__list {
    margin-left: 80px;

    justify-content: flex-start;
  }
}

@media (min-width: @desktop-width){

}
