.transports {
  display: flex;
  justify-content: center;
}

.transports__item {
  margin-right: 7px;
  margin-left: 7px;

  svg {
    fill: @blue;
  }

  &--disabled {
    svg {
      opacity: 0.15;
    }
  }
}

.transports__tooltip {
  display: none;
}
