.user-list {
  margin-bottom: 42px;
}

.user-list__item {
  position: relative;
  padding: 11px 0 12px;
  padding-left: 61px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-align: left;

  a {
    color: @blue-darker;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    content: "";
    width: 45px;
    height: 45px;

    border-radius: 50%;
    background-color: @violet;
    z-index: 1;
  }
}

.user-list__svg {
  position: absolute;
  top: 12px;
  left: 14px;
  fill: @yellow;

  z-index: 2;

  &--mail {
    top: 15px;
  }
}

@media (min-width: @tablet-width) {
  .user-list {
    margin-top: 148px;
    margin-bottom: 138px;
  }

  .user-list__item {
    padding: 20px;
    padding-left: 95px;

    font-size: 28px;
    line-height: 28px;

    &::before {
      width: 68px;
      height: 68px;
    }
  }

  .user-list__svg {
    width: 27px;
    height: 27px;

    top: 20px;
    left: 21px;
  }
}

@media (min-width: @desktop-width) {
  .user-list {
    display: none;
  }
}
